

.ProposalsMiddleLearnContentcolumn{
	/* border: 1px solid rgb(0, 195, 255); */
	/* border: 1px solid rgb(60, 62, 65); */

	width: 57vw;
	min-height: 5vh;
	max-height: auto;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;

  }










  .ProposalsMiddleDappGraphAvatarTitlePricerow{
	/* border: 1px solid rgb(208, 255, 0);  */

	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;

	/* width: 28.3vw; */
	width: 57vw;
	height: 5vh;

	padding-left: 1.5vw;

	/* margin-bottom: 0.1vh; */

	background-color: rgba(var(--objects));

  }

  .ProposalsMiddleDappGraphAvatarrow{
	/* border: 1px solid rgb(0, 255, 21); */

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	width: 3vw;
	height: 4.8vh;
  }


  /* .ProposalsMiddleGraphAvatarrowimg img{
ProposalsMiddleGraphImageContainer
	width: 75%;
	object-fit: cover;
  } */


  .ProposalsMiddleDappGraphImageContainer {
	/* border: 1px solid rgba(201, 77, 77, 0.774); */

    position: relative;

	/* width: 3.8vw; 
	height: 5vh; */

	width: 2.4vw;
	height: 4.2vh;
}

.ProposalsMiddleDappGraphImageContainer img{
	/* border: 1px solid rgba(201, 77, 77, 0.774); */



	width: 2.4vw;
	height: 4.2vh;

	object-fit: contain;
}


.ProposalsMiddleDappGraphImageContainerPlaceholder {
	/* border: 1px solid rgba(232, 220, 57, 0.774); */

	width: 100%;
    height: 100%;
	
    font-size: 3rem;
    font-weight: 500;
    text-align: center;
    /* color: rgb(77, 126, 201);  */
	/* color: rgb(86, 65, 59);  */
	/* color: rgba(86, 65, 59, 0.503);  */
	color: rgba(var(--fg-title));

    background-color: transparent;

	display: none; /* Initially hidden */
    align-items: center;
    justify-content: center;
}










  .ProposalsMiddleDappGraphNamerow{
	/* border: 1px solid rgb(225, 0, 255); */

	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;

	width: 35vw;
	height: 4.5vh;

	padding: 1vw;
  }

  .ProposalsMiddleDappGraphTitlerow{
	/* border: 1px solid rgb(255, 0, 0); */
	

	/* border-radius: 8px; */
	/* border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px; */


	/* width: 10vw; */
	height: 2.8vh;

	/* width: 19.6vw;
	height: 2.8vh; */

	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
}


  .ProposalsMiddleDappGraphTitlerow span{
	

	color: rgba(var(--fg));
	
	font-weight: 600;
	font-size: 1.2rem;
}


  .ProposalsMiddleDappGraphPricerow{
	/* border: 1px solid rgb(54, 54, 54); */

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;


	width: 5vw;
	height: 4.8vh;
  }







  .ProposalsMiddleLearnCategoryrow{
	/* border: 1px solid rgb(60, 212, 14); */
	/* border: 1px solid rgb(60, 62, 65); */

	display: flex;
	flex-direction: row;

	width: 57vw;
	height: 5vh;

	margin-bottom: 0.1vh;

	background-color: rgba(var(--objects));
	box-shadow: 0 0 0 1px rgba(var(--border-low));

  }


  .ProposalsMiddleTitlerow{
	/* border: 1px solid rgb(0, 81, 255); */
	
	width: 57vw;
	height: 5vh;

	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;

	padding: 2%;
  }

  /* .ProposalsMiddleTitlerow:hover{
	background-color: rgba(var(--accent));
}
 */




  .ProposalsMiddleTitleButton{
	/* border: 1px solid rgb(74, 145, 85); */

	width: 56.8vw;
	height: 5vh;

	display: flex;
	justify-content: left;
	align-items: center;

	cursor: default;
  }


  .ProposalsMiddleTitleButton span{

	color: rgba(var(--fg));
	
	font-weight: 600;
	font-size: 1rem;

	margin-right: 1%;
}

/* .ProposalsMiddleTitleButton:hover span{
	
	color: rgba(var(--fg-high));
} */


  .ProposalsMiddleTitleDifficultyButtons  {
	/* border: 1px solid rgb(255, 208, 0); */

	width: 10vw;
	height: 5vh;

}


  .ProposalsMiddleTitleDifficultyButtons span{
		/* border: 1px solid rgb(255, 208, 0); */

	color: rgba(var(--fg));
	
	font-weight: 400;
	font-size: 0.9rem;

	margin-right: 1%;
}


.ProposalsMiddleTitleDifficultyButtons:hover span{
	
	color: rgba(var(--fg-high));
	/* color: rgba(var(--fg)); */
	font-weight: 700;
}





  .ProposalsMiddleShortBodyIrow{
	/* border: 1px solid rgb(255, 153, 0); */
	
	width: 57vw;
	/* min-height: 6vh;
	max-height: 65vh; */
	/* padding-top: 1%; */

	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;

	background-color: rgba(var(--primary));

  }

  /* .ProposalsMiddleShortBodyIrow:hover{ */
		/* background: rgb(49, 57, 63); */
	/* background-color: rgba(var(--objects)); */
	/* background-color: rgba(var(--accent)); */
	/* background-color: rgba(var(--primary)); */
	/* background: rgb(29, 35, 39); */
	/* background: rgb(22, 26, 29); */
  /* } */





  .ProposalsMiddleShortBodyIRowspan{
	/* border: 1px solid rgb(247, 0, 255); */

	/* width: 56vw; */

	color: rgba(var(--fg));
	font-weight: 400;
	font-size: 0.9rem;

	padding: 0.5% 2.2%;
}









  .ProposalsMiddleShortBodyIcolumn{
	/* border: 1px solid rgb(255, 153, 0); */
	
	width: 57vw;
	/* min-height: 6vh;
	max-height: 65vh; */
	padding-top: 1%;
		padding-bottom: 2%;

	/* padding: 1.1% 2.2%; */

	/* margin-bottom: 2vh; */
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;

	background-color: rgba(var(--primary));

  }


  .ProposalsMiddleDescriptionRow {

	width: 57vw;

	padding: 2% 2.2%;

	display: flex;
	flex-direction: column;
	gap: 0.75rem; /* space between paragraphs */
	line-height: 1.5;


	color: rgba(var(--fg));
	/* font-weight: 400;
	font-size: 0.9rem; */

	/* text-wrap-mode: wrap; */


  }


  .ProposalsMiddleDescriptionParagraph {
	text-align: justify;
	font-size: 0.95rem;
	color: rgba(var(--fg));
	white-space: pre-wrap; /* keeps intentional line breaks */
  }






  .ProposalsMiddleLinksButtonsRow{
	/* border: 1px solid rgb(47, 0, 255); */

	width: 57vw;
	height: 5vh;

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;

	margin-top: 0.5vh;

	gap: 0.5vw;

  }

  .ProposalsMiddleButtonsRowFieldspan {
	/* border: 1px solid rgb(157, 255, 0); */

	/* width: 2vw;
	height: 3vh; */

	color: rgba(var(--fg));
	font-weight: 400;
	font-size: 0.9rem;


	padding: 1.1% 2.2%;

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
  }

  .ProposalsMiddleLinksButton {
	/* border: 1px solid rgb(47, 0, 255); */

	/* width: 7vw;
	height: 3vh; */


	display: flex;
	align-items: center;

	gap: 0.5vw;
	padding: 0.2% 1.3%;

	/* margin-right: 1vw; */
	
    background-color: rgba(var(--objects));
	box-shadow: 0 0 0 1px rgba(var(--border-low));
	/* border-radius: var(--border-radius-button); */

	border-radius: 99vw;

	cursor: pointer;
	font-size: 0.9rem;
	transition: background 0.2s ease;
	}

	.ProposalsMiddleLinksButton:hover {
		background-color: rgba(var(--accent));
	}



  .ProposalsMiddleLinksButton img {

	width: 1vw;
	height: 2vh;

	object-fit: contain;
	}



	  .ProposalsMiddlePlatformLabel {

		/* width: 5vw;
		height: 3vh; */

		color: rgba(var(--fg));
		font-weight: 400;
		font-size: 0.9rem;

		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: flex-start;

	  }











.ProposalsMiddleLink {
    color: rgba(var(--fg));


    text-decoration: underline;
    cursor: pointer;
}

.ProposalsMiddleLink:hover {
    /* color: rgba(var(--special-char-arrow-high)); */

	color: rgba(var(--fg-title));
}






  .ProposalsMiddleShortBodyIVideorow{
	/* border: 1px solid rgb(0, 255, 221); */
	
	/* width: 57vw; */

	
	display: flex;
	flex-direction: row;

	margin-top: 2vh;

  }










  .ProposalsMiddleDescriptionShortBodyIIcolumn{
	/* border: 1px solid rgb(0, 102, 255); */
	
	width: 56vw;
	/* min-height: 6vh;
	max-height: 65vh; */
	padding-top: 1%;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;

  }

  .ProposalsMiddleDescriptionShortBodyIIcolumn:hover{
	background: rgb(29, 35, 39);
  }




  .ProposalsMiddleDescriptionExplanationsTitle{

	width: 56vw;

	color: rgba(var(--fg));
	
	font-weight: 600;
	font-size: 1.2rem;

	padding: 2%;
 }





 .ProposalsMiddleDescriptionExplanationsBody{

	width: 56vw;

	color: rgba(var(--fg));
	
	font-weight: 500;
	font-size: 1rem;

	padding: 2%;
 }

 .ProposalsMiddleDescriptionExplanationsDefinition{

	width: 56vw;

	color: rgba(var(--fg));
	
	font-weight: 600;
	font-size: 1.1rem;

 }







 .ProposalsMiddleButtonDescription{
	/* border: 1px solid rgb(162, 12, 192); */

	/* border-right: none;  */

	border-bottom-right-radius: 8px; 
	border-bottom-left-radius: 8px; 
	
	display: flex;
	justify-content: center;
	align-items: center;
	
	width: 57vw;
	height: 1.5vh;

	/* margin-top: 0.5vh; */
	margin-bottom: 1vh;


	background-color: rgba(var(--accent));

	/* background: rgb(33, 38, 44); */
	/* background: rgb(120, 168, 226); */


  }




  .ProposalsMiddleButtonDescription:hover {
	/* border: 1px solid rgb(164, 195, 221); */
	border-right: none; 
	/* background: rgb(77, 89, 100); */

	background: rgb(49, 57, 63);
	/* background-color: rgba(var(--accent));
	background-color: rgba(var(--primary));
	background: rgb(22, 26, 29); */
}


.ProposalsMiddleButtonDescriptionimg  {
	/* border: 2px solid rgb(255, 0, 242); */

	width: 4%;
	object-fit: cover;
	/* margin-left: 18%; */
}


































  
.ProposalsMiddleShortBodyIIrow{
	/* border: 1px solid rgb(255, 0, 140); */
	
	display: flex;
	flex-direction: row;

	width: 57vw;
	/* min-height: 8vh;
	max-height: 59vh; */
	padding: 1%;

	justify-content: center;
	align-items: center;
	
	/* overflow: hidden; */

		/* background: rgb(49, 57, 63); */
	/* background-color: rgba(var(--objects)); */
	/* background-color: rgba(var(--accent)); */
	background-color: rgba(var(--primary));
	/* background: rgb(29, 35, 39); */
	/* background: rgb(22, 26, 29); */

  }

  .ProposalsMiddleShortBodyIIrow:hover{
		/* background: rgb(49, 57, 63); */
	/* background-color: rgba(var(--objects)); */
	/* background-color: rgba(var(--accent)); */
	/* background-color: rgba(var(--primary)); */
	background: rgb(29, 35, 39);
	/* background: rgb(22, 26, 29); */
	
  }

  .ProposalsMiddleShortBodyIIrow span{

	color: rgba(var(--fg));
	font-weight: 600;
	font-size: 1rem;

	padding: 2%;


}




 .ProposalsMiddleShortBodyIIVideorow{
	/* border: 1px solid rgb(255, 0, 140); */

	display: flex;
	flex-direction: row;

	width: 57vw;

 }






.ProposalsMiddleShortBodyIIIrow{
	/* border: 1px solid rgb(255, 0, 140); */
	
	display: flex;
	flex-direction: row;

	width: 57vw;

	padding: 1%;

	justify-content: center;
	align-items: center;

		/* background: rgb(49, 57, 63); */
	/* background-color: rgba(var(--objects)); */
	/* background-color: rgba(var(--accent)); */
	background-color: rgba(var(--primary));
	/* background: rgb(29, 35, 39); */
	/* background: rgb(22, 26, 29); */
	
  }

  .ProposalsMiddleShortBodyIIIrow:hover{
	/* background: rgb(49, 57, 63); */
	/* background-color: rgba(var(--objects)); */
	/* background-color: rgba(var(--accent)); */
	/* background-color: rgba(var(--primary)); */
	background: rgb(29, 35, 39);
	/* background: rgb(22, 26, 29); */
  }

  .ProposalsMiddleShortBodyIIIrow span{

	/* color: oldlace; */
	color: rgba(var(--fg));

	
	font-weight: 600;
	font-size: 1rem;

	padding: 2%;


}


.ProposalsMiddleShortBodyIIIVideorow{
	/* border: 1px solid rgb(255, 0, 140); */

	display: flex;
	flex-direction: row;

	width: 57vw;

 }

































  .ProposalsMiddleDappsV2Tablerow{
	/* border: 1px solid red; */

	/* border: 1px solid rgb(60, 62, 65); */
	/* border-left: transparent;
	border-right: transparent; */


	width: 57vw;
	height: auto;

	display: flex;
	flex-direction: row;
	padding: 1%;

  background-color: rgba(var(--primary));


}

.ProposalsMiddleDappsV2TableLeftcolumn{

/* border: 1px solid rgb(0, 68, 255); */

width: 4.5vw;
/* height: 9.3vh; */
height: auto;

display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;

padding: 1%;
}


.ProposalsMiddleDappsV2TableLeftcolumn span{
/* border: 1px solid rgb(255, 255, 255); */

color: rgba(var(--fg));

font-weight: 500;
font-size: 0.9rem;

overflow: hidden;
}


.ProposalsMiddleDappsV2TableRightcolumn{
/* border: 1px solid rgb(255, 251, 0); */

width: 50.5vw;
/* height: 9.3vh; */
height: auto;

display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;

}


.ProposalsMiddleDappsV2TableRightcolumn span{
/* border: 1px solid rgb(255, 255, 255); */

color: rgba(var(--fg));

font-weight: 400;
font-size: 0.9rem;

overflow: hidden;
}






/* .Chains2RowsDatacolumn{
	border: 1px solid rgb(253, 98, 98);

	width: 17vw; 
	height: 7.3vh;

	display: flex;
	flex-direction: column;
  } */

  .ProposalsMiddleChains2RowsDatarow1 {
	/* border: 1px solid rgb(212, 255, 253); */

	width: 50.5vw;
	height: 7.3vh;

	padding: 1%;
	/* padding-left: 4%; */

	display: flex;
	flex-direction: row;
	align-items: flex-end;
	justify-content: flex-start;

	position: relative;

	overflow-y: hidden;
	overflow-x: auto;
	scrollbar-width: thin;
	scrollbar-color: rgba(var(--accent)) transparent;
}

  ::-webkit-scrollbar {
	width: 5px;
	}
	
	::-webkit-scrollbar-track {
	background: transparent;
	}
	
	::-webkit-scrollbar-thumb {
	background: rgb(49, 57, 63);
	} 


.ProposalsMiddleDappsChainsImageContainer {
	/* border: 1px solid rgba(201, 77, 77, 0.774); */

    position: relative;

	width: 2.5vw; 
    height: 4.5vh;


    flex: 0 0 auto; /* Prevent flex shrinking */
   
	margin-left: 0.1vw;
	margin-bottom: 0.1vh;
}


  .ProposalsMiddleDappsChainsImageContainer img {
	width: 2.5vw; 
    height: 4.2vh;

	object-fit: contain;

  }

.ProposalsMiddleDappsChainsImageContainerPlaceholder {
	/* border: 1px solid rgba(232, 220, 57, 0.774); */

	width: 100%;
    height: 100%;
	
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
	color: rgba(var(--fg-title));

    background-color: transparent;

	display: none;
    align-items: center;
    justify-content: center;
}



.ProposalsMiddleDappsChainsImageContainer:hover .ProposalsMiddleDappsChainsTooltip {
    visibility: visible;
    opacity: 1;
}

.ProposalsMiddleDappsChainsTooltip {
    position: absolute;
    top: -40%; 
    left: 50%;
    transform: translateX(-50%);

    background-color: rgba(0, 0, 0, 0.75);
    color: #fff;
    padding: 0.5rem;
    border-radius: 0.25rem;
    font-size: 0.7rem;
    white-space: nowrap;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.2s linear;
	z-index: 1000;
}






















 @media (max-width: 768px) {
 



	.ProposalsMiddleLearnContentcolumn{
		/* border: 1px solid rgb(0, 195, 255); */

		width: 97vw;
	  }
	
	
	  .ProposalsMiddleLearnCategoryrow{
		/* border: 1px solid rgb(60, 212, 14); */

		width: 97vw;
	  }
	
/* 	
	  .ProposalsMiddleTitleButton span{
	
		color: rgba(var(--fg));
		
		font-weight: 600;
		font-size: 1rem;
	
		margin-right: 1%;
	}
	 */


	
	  .ProposalsMiddleShortBodyIrow{
		/* border: 1px solid rgb(0, 102, 255); */
		
		width: 97vw;
	  }
	
	
	
	  .ProposalsMiddleShortBodyIrow span{
		/* border: 1px solid rgb(247, 0, 255); */
	
		width: 96vw;
	  }
	  



  .ProposalsMiddleShortBodyIcolumn{
	/* border: 1px solid rgb(255, 153, 0); */
	
	width: 97vw;

  }

  .ProposalsMiddleDescriptionRow {

		width: 97vw;
  }


  .ProposalsMiddleLinksButtonsRow{
	/* border: 1px solid rgb(47, 0, 255); */

	width: 97vw;

	gap: 1vw;

  }


  .ProposalsMiddleLinksButton {
	/* border: 1px solid rgb(47, 0, 255); */

	gap: 1vw;

	padding: 0.2% 1.7%;

	}


  .ProposalsMiddleLinksButton img {
	/* border: 1px solid rgb(47, 0, 255); */

	width: 3vw;
	height: 2vh;

	object-fit: contain;
	}




  .ProposalsMiddleDappGraphAvatarTitlePricerow{
	/* border: 1px solid rgb(208, 255, 0); */


	width: 97vw;
  }



  .ProposalsMiddleDappGraphAvatarrow{
	/* border: 1px solid rgb(0, 255, 21); */


	width: 10vw;
  }




	.ProposalsMiddleDappGraphImageContainer {
		/* border: 1px solid rgba(201, 77, 77, 0.774); */


		width: 8vw;
	}


.ProposalsMiddleDappGraphImageContainer img{
	/* border: 1px solid rgba(201, 77, 77, 0.774); */
	
		width: 8vw;
}


  .ProposalsMiddleDappGraphNamerow{
	/* border: 1px solid rgb(225, 0, 255); */


		width: 80vw;
		height: 4.2vh;
  }




  .ProposalsMiddleDappGraphTitlerow{
	/* border: 1px solid rgb(255, 0, 0); */
	
	height: 4.2vh;

	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
  }










  .ProposalsMiddleDappsV2Tablerow{
	/* border: 1px solid red;  */

	width: 97vw;

  }


.ProposalsMiddleDappsV2TableLeftcolumn{
/* border: 1px solid rgb(0, 68, 255); */


width: 13vw;

}

.ProposalsMiddleDappsV2TableRightcolumn{
/* border: 1px solid rgb(255, 251, 0); */

width: 80.5vw;
}


  .ProposalsMiddleChains2RowsDatarow1 {
	/* border: 1px solid rgb(212, 255, 253); */

	width: 80.5vw;

  }


.ProposalsMiddleDappsChainsImageContainer {
	/* border: 1px solid rgba(201, 77, 77, 0.774); */

    position: relative;

	width: 7vw; 
	margin-left: 1vw;
}

  .ProposalsMiddleDappsChainsImageContainer img {
	width: 7vw; 
    height: 4.2vh;

	object-fit: contain;

  }












}