 .HomePageMaincolumn{
	/* border: 1px solid red; */

	height: 100vh;
	width: 100vw;

	display: flex;
	flex-direction: column;

	background: rgb(65, 62, 62);


	overflow-y: hidden;
	overflow-x: hidden;

  }



    .HomePageNavBarContainer{
	border: 1px solid rgb(223, 223, 223);
	
	height: 6vh;
	width: 100vw;

	border-right: transparent;
	border-left: transparent;
	border-top: transparent;




	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;


	
}



  .HomePageMainrow{
	/* border: 1px solid rgb(0, 47, 255); */
	
	height: 83.8vh;
	width: 99.8vw;

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;


	background: rgb(65, 62, 62);


	/* background: whitesmoke; */
	/* background-image: url('/OldPaper2.png'); 
	background-size: cover;
	background-repeat: no-repeat; */
  }



  .HomePageLeftModulecolumn{
	/* border: 1px solid rgb(229, 255, 0); */

	height: 83.6vh;
	width: 49.8vw;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;

  }

/* 
  .HomePageLeftModuleButton{
	border: 1px solid rgb(87, 92, 86);


	height: 10vh;
	width: 12vw;

	border-radius: 8%;

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
  }

  .HomePageLeftModuleButton span{

	color: white;
	font-size: 16px;
	font-family:'Times New Roman', Times, serif;


  } */


  .HomePageRightModulecolumn{
	/* border: 1px solid rgb(0, 255, 255); */

	height: 83.6vh;
	width: 49.8vw;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
  }





















