
node_modules
cache
artifacts
typechain
deployments
.openzeppelin
*.log
dist
build
coverage
.git
.gitignore
*.backup
package-lock.json.backup
*.md
README.md
.DS_Store
coverage
coverage.json
.vscode
.idea